<h1>Edit <%= @track.name %></h1>

<form action="<%= track_url(@track) %>" method="post">
  <input type="hidden" name="_method" value="put">

  <div>Name: <input type="text" name="track[name]" value="<%= @track.name %>"></div>

  <div>Album:
    <select name="album[name]">
      <option value="<%= @track.album.name %>"><%= @track.album.name %></option>
      <% @albums.each do |album| %>
      <option value="<%= album.name %>"><%= album.name %></option>
      <% end %>
    </select>
  </div>

  <div>
    Type:
    <input name="track[kind]" id="regular_track" type="radio" value="regular"
      <%= @track.kind == "regular" ? "checked" : "" %>>
    <label for="regular_track">Regular</label>

    <input name="track[kind]" id="bonues_track" type="radio" value="bonus"
      <%= @track.kind == "bonus" ? "checked" : "" %>>
    <label for="bonus_track">Bonus</label>
  </div>
  <br>
  <div>Lyrics:<br>
    <textarea cols="30" rows="4" name="track[lyrics]"><%= @track.lyrics %></textarea>
  </div>

  <br>
  <input type="submit" value="Submit">
</form>