<h1>Bands Page!</h1>

<ul>
  <% @bands.each do |band| %>

  <li> <a href="<%= band_url(band) %>"><%= band.name %></a>
    <ul>
      <li><a href="<%= band_albums_url(band) %>">Albums</a></li>
      <li><a href="<%= bands_tracks_url(band) %>">Tracks</a></li>
    </ul>
  </li>
  <br>

  <% end %>
</ul>

<form action="<%= new_band_url %>" method="get">
  <input type="submit" value="Create band">
</form>
<br>

<form action="<%= new_album_url %>" method="get">
  <input type="submit" value="Create album">
</form>

<br>
<form action="<%= new_track_url %>" method="get">
  <input type="submit" value="Add track">
</form>