<h1>Bands Page!</h1>

<ul>
  <% @bands.each do |band| %>

  <li> <a href="/bands/<%= band.id %>"><%= band.name %></a>
    <ul>
      <li><a href="/bands/<%= band.id %>/albums">Albums</a></li>
      <li><a href="/bands/<%= band.id %>/tracks">Tracks</a></li>
    </ul>
  </li>
  <br>

  <% end %>
</ul>

<form action="<%= new_band_url %>" method="get">
  <input type="submit" value="Create band">
</form>
<br>

<form action="<%= albums_new_url %>" method="get">
  <input type="submit" value="Create album">
</form>