<h1> <%= @band.name %>'s page</h1>

<a href="<%= band_albums_url(@band) %>">Albums</a>
<br>
<a href="<%= bands_tracks_url(@band) %>">Tracks</a>

<p>
  <form action="<%= edit_band_url(@band)%>" method="get">
    <input type="submit" value="Edit band">
  </form>
  <form action="<%= band_url(@band)%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Remove band">
  </form>
</p>